@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap&subset=cyrillic');

body:before {

    background: url("image1.jpg") no-repeat 50% / cover;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
.all{
    font-family: 'Montserrat';
    font-weight: normal;
    align-content: center;
}
.imglogo{
    border-radius: 5%;
   width:300px;
}


.vnim {
    width: 300px;
    color: brown;
    font-size: 12px;
    font-weight: bold;
}
.vopr {
    width: 300px;
    color: white;
}

.podp {
    width: 300px;
    font-size: 10px;
    color: greenyellow;
    font-weight: bold;
}

.nazv{
    width: 300px;
    font-weight: bold;
    color: wheat;
    font-size: 30px;
}

.butt{
    background-color: orange;
    color: white;
    font-size: 20px;
}

.ppp{
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    color: palegoldenrod;
}
