body{
    background-image: url(https://images.wallpaperscraft.ru/image/linii_svet_fon_svetlyy_46594_2560x1600.jpg);
    background-attachment: fixed;
}
.all{
    align-content: center;
}
.imglogo{

   width:300px;
}


.vnim {
    width: 300px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.vopr {
    width: 300px;
}

.podp {
    width: 300px;
    font-size: 10px;
    color: blue;
    font-weight: bold;
}

.nazv{
    width: 300px;
    font-weight: bold;
    color: black;
    font-size: 30px;
}
